.discountContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background-color: var(--accentcolor);
}

.discountText {
    text-align:center;
}

.discountText p{
    color: var(--bgcolor);
    font-weight:100;
}

.discountText strong{
    font-weight:500;
}

.discountText a{
    color: var(--linkcolor);
}

.discountText a:hover{
    opacity: 0.9;
}


.discountContainer i{
    display:flex;
    align-items: center;
    color: var(--bgcolor);
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    will-change: transform;
}

.discountContainer i:hover{
    transform: scale(1.1);
}